*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parentsdashhead{

  width: 95%;
  margin: auto;
  height: auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

}

.parentsdash-welcome-notes-box{

  width: 100%;
  padding-top: 25px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;



}

.parentsdashhead .parentsdash-welcome-notes-box #parents-dashboard-notification-box{

  width: 390px;
  height: 75px;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 25px;    
  color: orange;
  background-color: rgb(252, 237, 211);
  cursor: pointer;


}

#parents-dashboard-notification-box h3{
  color: orange;
}


.tea-dash-head-drops{

  width: 20%;
  height: auto;
  display: flex;
  justify-content: space-between;

}

.teachers-dash-main-content{

  width: 100%;
  height: auto;
  /* border: 1px solid lightgray; */
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.attendance-student-details-box{

  width: 60%;
  height: 100%;
  padding: 20px;


}

.calendar-reports-details-box{

  width: 40%;
  height: 100%;
  padding: 20px;


}

.teadash-attendance-overview{

  width: 110%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.teacher-profile-box{

  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* border: 1px solid black; */

}

.teacher-profile-box img{
  width: 100%;
  height: 100%;
  border-radius: 50%;

}



.attendance-overview-details{
  width: 70%;
  height: auto;
}

.teadash-attendance-overview:first-child h5{

  font-size: 20px;
  color: #e16e68;

}

.teadash-students-numbers{

  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;    

}

.teadash-students{

  width: 30%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.teadash-students h1{

  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: orange;
  background-color: rgb(252, 237, 211);
  margin-top: 15px;
  margin-bottom: 15px;


}

.teadash-students p{

  font-size: 18px;
  font-weight: 500;
  color: rgb(138, 137, 137);
}

.teadash-myschdule-details{

  width: 110%;
  height: 440px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow-y: hidden;
  border: 1px solid #ddd;


}

.teadash-myschdule-details.clicked{
  width: 110%;
  height: auto;
}

.teadash-myschdule-details h5{
  font-size: 20px;
  color: #e16e68;}

.scheduled-classdetails{

  width: 100%;
  padding: 15px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ddd;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.scheduled-classdetails p:nth-of-type(1){

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: orange;

}

.scheduled-classdetails p:nth-of-type(2){

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: gray;

}

.scheduled-classdetails button{
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  background-color: orange;
}

.breakdetails{

  width: 100%;
  padding: 15px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ddd;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breakdetails p:nth-of-type(1){

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: orange;

}

.breakdetails p:nth-of-type(2){

  font-size: 22px;
  padding: 7px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: gray;

}

.viewall{
  border: none;
  outline: none;
  width: 100%;
  text-align: right;
  margin-top: 10px;
  background: none;
  color: gray;
  padding-right: 20px;
  text-decoration: underline;
}

.viewall.clicked{
  display: none;
}

.hide{

  border: none;
  outline: none;
  width: 100%;
  text-align: right;
  margin-top: 10px;
  background: none;
  color: gray;
  padding-right: 20px;
  text-decoration: underline;

}

.parentsDash-student-performance-details-box{

  width: 110%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.parentsDash-student-performance-details-box h5{
  font-size: 20px;
  color: #e16e68;
  margin-bottom: 25px;
}

/* .performance-dropdowns-box{
  width: 100%;
  text-align: right;
}

.performance-dropdowns-box select{

  border: 1px solid #ddd;
  background-color: white;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 20px;

} */

.students-performances-lists-box{

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.student-performance-card {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 0px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.student-info {
  flex: 1;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-name {
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.student-percentage {
  font-size: 18px;
  color: #666;
}

.cl-rp-main-box{

  width: 90%;
  /* border: 1px solid gray; */
  padding-top: 35px;
  padding-bottom: 35px;
  height: auto;
  margin-left: 50px;
  background-color: rgb(252, 237, 211);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


}

.daily-report-box{

  width: 80%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-color: white;



}

.report-header {
  margin-bottom: 10px;
  /* padding-top: 10px; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.report-header h5 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  color: #e16e68;
}

.report-header select {
  width: 120px;
  padding: 8px;
  padding-right: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Chart section */
.report-chart-box {
  position: relative;
  width: 270px;
  height: 230px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.report-chart-box div {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
}

/* Legend section */
.report-data-box {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Legend items */
.legend-item {
  display: flex;
  align-items: center;
}

.legend-item .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.legend-item .done-circle {
  background: orange;
}

.legend-item .progress-circle {
  background: red;
}

.legend-item .label {
  font-size: 15px;
  color: #333;
}

.calendar-box{
  width: 80%;
  margin: auto;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-top: 30px;
  background-color: white;
}

.event-calendar {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.calendar-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.calendar-header {
  font-size: 1rem;
  margin-top: 5px;
}



.calendar-month {
  font-size: 1.2rem;
  font-weight: bold;
}


.calendar-view-buttons .btn {
  margin: 0 5px;
  border-radius: 20px;
}

.calendar-view-buttons .active {
  color: white;
}


.calendar-body {
  display: flex;
  flex-wrap: wrap;
}

.calendar-days{

  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.calendar-day-name,
.calendar-cell {
  flex: 1;
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
}

.calendar-body .calendar-row{

  display: flex;
  width: 100%;
}

.calendar-cell {
  cursor: pointer;
  padding: 5px;
  transition: 0.3s ease;
  border-radius: 5px;
}

.calendar-cell:hover {
  background-color: #f0f0f0;
}

.calendar-cell.disabled {
  color: #ccc;
  pointer-events: none;
}

.calendar-cell.selected {
  background-color: orange;
  color: #fff;
}


.parentsdashboard-additional-details-box{

  width: 400px;
  height: 350px;
  margin-top: 25px;
  padding: 25px;
  border-radius: 10px;
  margin-left: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}


.parentsdashboard-additional-details-box h5{

  color: #e16e68;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;

}

.parentsdash-additional-subbox{

  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 0px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

}

.parentsdash-additional-subbox p{

  font-size: 20px;
  font-weight: 500;
  color: gray;

}


 